In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/bowling_summary.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/batting_summary.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/match_summary.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2020/match_summary_2020.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2020/bowling_summary_2020.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2020/batting_summary_2020.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2012/batting_summary_2012.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2012/match_summary_2012.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2012/bowling_summary_2012.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2017/bowling_summary_2017.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2017/batting_summary_2017.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2017/match_summary_2017.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2011/bowling_summary_2011.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2011/batting_summary_2011.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2011/match_summary_2011.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2019/batting_summary_2019.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2019/match_summary_2019.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2019/bowling_summary_2019.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2010/match_summary_2010.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2010/bowling_summary_2010.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2010/batting_summary_2010.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2022/match_summary_2022.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2022/bowling_summary_2022.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2022/batting_summary_2022.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2014/bowling_summary_2014.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2014/batting_summary_2014.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2014/match_summary_2014.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2013/bowling_summary_2013.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2013/batting_summary_2013.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2013/match_summary_2013.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2023/match_summary_2023.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2023/bowling_summary_2023.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2023/batting_summary_2023.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2009/batting_summary_2009.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2009/bowling_summary_2009.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2009/match_summary_2009.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2015/batting_summary_2015.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2015/match_summary_2015.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2015/bowling_summary_2015.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2021/match_summary_2021.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2021/batting_summary_2021.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2021/bowling_summary_2021.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2016/batting_summary_2016.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2016/bowling_summary_2016.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2016/match_summary_2016.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2008/bowling_summary_2008.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2008/batting_summary_2008.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2008/match_summary_2008.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2018/batting_summary_2018.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2018/match_summary_2018.csv
/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/2018/bowling_summary_2018.csv

In [3]:
df = pd.read_csv("/kaggle/input/ipl-matchwise-scorecard-2008-2023/Dataset/batting_summary.csv")
df

,IPL Edition,Date,Time,Stadium,City,Match Details,Team 1,Team 2,Team Batting,Total Runs,Total Wickets,Batsman Names,Out/Not Out,Balls Played,Runs Scored,Fours,Sixes,Strike Rate
0,2023,2023-03-31,07:30 PM,Narendra Modi Stadium,Ahmedabad,"Gujarat Titans vs Chennai Super Kings, 1st Match",Gujarat Titans,Chennai Super Kings,Chennai Super Kings Innings,178,7,Conway,b Shami,6.0,1,0.0,0.0,16.67
1,2023,2023-03-31,07:30 PM,Narendra Modi Stadium,Ahmedabad,"Gujarat Titans vs Chennai Super Kings, 1st Match",Gujarat Titans,Chennai Super Kings,Chennai Super Kings Innings,178,7,Ruturaj Gaikwad,c Shubman Gill b Alzarri Joseph,50.0,92,4.0,9.0,184.00
2,2023,2023-03-31,07:30 PM,Narendra Modi Stadium,Ahmedabad,"Gujarat Titans vs Chennai Super Kings, 1st Match",Gujarat Titans,Chennai Super Kings,Chennai Super Kings Innings,178,7,Moeen,c W Saha b Rashid Khan,17.0,23,4.0,1.0,135.29
3,2023,2023-03-31,07:30 PM,Narendra Modi Stadium,Ahmedabad,"Gujarat Titans vs Chennai Super Kings, 1st Match",Gujarat Titans,Chennai Super Kings,Chennai Super Kings Innings,178,7,Stokes,c W Saha b Rashid Khan,6.0,7,1.0,0.0,116.67
4,2023,2023-03-31,07:30 PM,Narendra Modi Stadium,Ahmedabad,"Gujarat Titans vs Chennai Super Kings, 1st Match",Gujarat Titans,Chennai Super Kings,Chennai Super Kings Innings,178,7,Rayudu,b Joshua Little,12.0,12,0.0,1.0,100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15078,2008,2008-06-01,08:15 PM,Dr DY Patil Sports Academy,Mumbai,"Chennai Super Kings vs Rajasthan Royals, Final",Chennai Super Kings,Rajasthan Royals,Rajasthan Royals Innings,164,7,Yusuf Pathan,run out (Raina),39.0,56,3.0,4.0,143.59
15079,2008,2008-06-01,08:15 PM,Dr DY Patil Sports Academy,Mumbai,"Chennai Super Kings vs Rajasthan Royals, Final",Chennai Super Kings,Rajasthan Royals,Rajasthan Royals Innings,164,7,Mohammad Kaif,c Dhoni b Muralitharan,9.0,12,0.0,1.0,133.33
15080,2008,2008-06-01,08:15 PM,Dr DY Patil Sports Academy,Mumbai,"Chennai Super Kings vs Rajasthan Royals, Final",Chennai Super Kings,Rajasthan Royals,Rajasthan Royals Innings,164,7,Ravindra Jadeja,c Kapugedera b Morkel,1.0,0,0.0,0.0,0.00
15081,2008,2008-06-01,08:15 PM,Dr DY Patil Sports Academy,Mumbai,"Chennai Super Kings vs Rajasthan Royals, Final",Chennai Super Kings,Rajasthan Royals,Rajasthan Royals Innings,164,7,Shane Warne,not out,9.0,9,1.0,0.0,100.00
15082,2008,2008-06-01,08:15 PM,Dr DY Patil Sports Academy,Mumbai,"Chennai Super Kings vs Rajasthan Royals, Final",Chennai Super Kings,Rajasthan Royals,Rajasthan Royals Innings,164,7,Sohail Tanvir,not out,7.0,9,0.0,0.0,128.57

**Space Fixing**

In [4]:
# Space available in columns lets fix it first:
df.columns = df.columns.str.replace(" ","_")
df.columns

Index(['IPL_Edition', 'Date', 'Time', 'Stadium', 'City', 'Match_Details',
       'Team_1', 'Team_2', 'Team_Batting', 'Total_Runs', 'Total_Wickets',
       'Batsman_Names', 'Out/Not_Out', 'Balls_Played', 'Runs_Scored', 'Fours',
       'Sixes', 'Strike_Rate'],
      dtype='object')

**Total Match Played**

In [5]:
#each row potray data for each match. 
#total row number is the total match number

num_rows = len(df)
print('Total Match Played:',num_rows)

Total Match Played: 15083

**Total Team Played**

In [6]:
num_unique_col1 = df['Team_Batting'].nunique()
print('Total Team Played:',num_unique_col1)

Total Team Played: 18

**Max Total Run of a Team**

In [27]:
# Find the row with the maximum score
max_score_row = df[df['Total_Runs'] == df['Total_Runs'].max()]

# Extract person name and score
Team_Batting = max_score_row['Team_Batting'].values[0]
max_score = max_score_row['Total_Runs'].values[0]

# Print the result
print(f"Team with the max Runs: {Team_Batting} (Score: {max_score})")

Team with the max Runs: Royal Challengers Bangalore Innings (Score: 263)

**Total Run of Each Team**

In [35]:
# Pivot table to get total score per team
Run_per_Team = df.pivot_table(values='Total_Runs', index='Team_Batting', aggfunc='sum')

# Print the pivot table
print(Run_per_Team)

# Store the pivot table in a variable (create a copy to avoid modifying the original)
stored_team_pivot_table = Run_per_Team.copy()

                                     Total_Runs
Team_Batting
Chennai Super Kings Innings              234912
Deccan Chargers Innings                   87182
Delhi Capitals Innings                    97737
Delhi Daredevils Innings                 179013
Gujarat Lions Innings                     37715
Gujarat Titans Innings                    37448
Kings XI Punjab Innings                  217164
Kochi Tuskers Kerala Innings              14681
Kolkata Knight Riders Innings            269622
Lucknow Super Giants Innings              37693
Mumbai Indians Innings                   294601
Pune Warriors Innings                     46534
Punjab Kings Innings                      59029
Rajasthan Royals Innings                 242000
Rising Pune Supergiant Innings            18752
Rising Pune Supergiants Innings           13296
Royal Challengers Bangalore Innings      265405
Sunrisers Hyderabad Innings              187301

**Each Batsman Total Run**

In [36]:
# Pivot table to get total score per batsman
Run_per_Batsman = df.pivot_table(values='Runs_Scored', index='Batsman_Names', aggfunc='sum')

# Print the pivot table
print(Run_per_Batsman)

# Store the pivot table in a variable (create a copy to avoid modifying the original)
stored_pivot_table = Run_per_Batsman.copy()

                                                        Runs_Scored
Batsman_Names
A Mishra                                                       6413
A Rahane                                          10519030384662256
A Rahane (c)                                     705142134536591133
A Russell                              4862504510151480088941103149
AB de Villiers    4192670159171572019057253298310825529832047164...
...                                                             ...
de Villiers                0121123519136317752582104468169891954310
de Villiers (wk)                                1767555023915243556
du Plessis                       8462033955002510768605845966113327
du Plessis (c)                         7922444565552888896503873025
van der Dussen                                                  412

[911 rows x 1 columns]

**Max Run among Batsman**

In [42]:
# 3. Calculate maximum value and its index (batsman name)
max_value = stored_pivot_table.max()
max_scorer_name = max_value.index[0]
print(f"Max Scorer: {max_scorer_name} with {max_value} runs")

Max Scorer: Runs_Scored with Runs_Scored    973
dtype: object runs

**Average Runs Per Batsman**

In [51]:
df['Runs_Scored'] = pd.to_numeric(df['Runs_Scored'], errors='coerce')  # Replace 'NA' with NaN
df.fillna(df['Runs_Scored'].mean(), inplace=True)  # Impute NaN with average score
Average_Runs_per_Batsman = df.pivot_table(values='Runs_Scored', index='Batsman_Names', aggfunc='mean')
print(Average_Runs_per_Batsman)

                  Runs_Scored
Batsman_Names
19.422656           21.017625
A Mishra             7.666667
A Rahane            35.777778
A Rahane (c)        21.868555
A Russell           36.800000
...                       ...
de Villiers         33.590909
de Villiers (wk)    34.363636
du Plessis          40.821133
du Plessis (c)      41.937500
van der Dussen       8.000000

[912 rows x 1 columns]